<div class="branch-info-main-container">
  <div class="branch-info-content">
    <!-- Left Column: Branch Details -->
    <div class="branch-info-container">
      <h1 class="branch-info-h1">Branch</h1>
      <div class="branch-info-details">
        <img
          class="branch-info-img"
          src="../images/branch-info.png"
          alt="Branch Image"
        />
        <div class="branch-info-text">
          <h4 class="branch-info-h4">Visayas Avenue</h4>
          <div class="branch-info-text-data">
            <span class="material-symbols-outlined">pin_drop</span>
            <p class="branch-info-paragraph">
              82-B Visayas Ave, Tandang Sora, Quezon City, Metro Manila,
              Philippines
            </p>
          </div>
          <div class="branch-info-text-data">
            <span class="material-symbols-outlined">call</span>
            <p class="branch-info-paragraph">(+63) 939-150-1436</p>
          </div>
        </div>
      </div>
    
    <!-- Right Column: Google Map -->
    <div class="google-map">
      <p>Google Map</p>
    </div>
  </div>
</div>
