<div class="clinic-hours-container">
  <div class="clinic-hours">
    <h1>CLINIC HOURS</h1>
    <div class="days">
      <div class="day">
        <span class="day-name">Mon</span>
        <span class="time">8:00 am - 6:30 pm</span>
      </div>
      <div class="day">
        <span class="day-name">Tue</span>
        <span class="time">8:00 am - 6:30 pm</span>
      </div>
      <div class="day">
        <span class="day-name">Wed</span>
        <span class="time">8:00 am - 6:30 pm</span>
      </div>
      <div class="day">
        <span class="day-name">Thu</span>
        <span class="time">8:00 am - 6:30 pm</span>
      </div>
      <div class="day">
        <span class="day-name">Fri</span>
        <span class="time">8:00 am - 6:30 pm</span>
      </div>
      <div class="day">
        <span class="day-name">Sat</span>
        <span class="time">8:00 am - 6:30 pm</span>
      </div>
      <div class="day">
        <span class="day-name">Sun</span>
        <span class="time">8:00 am - 6:30 pm</span>
      </div>
    </div>
  </div>
</div>
