<footer class="footer py-4">
    <div class="container footer-nav-container">
        <div class="row footer-row">
            <!-- Logo Section -->
            <div class="col-12 col-md-3 text-center text-md-start mb-4 mb-md-0 footer-col logo-col">
                <div class="footer-logo">
                    <img src="../images/footer-logo.png" alt="Dental Clinic Logo" class="container-fluid" />
                </div>
                <h2 class="h2-footer">WILERICH OPT. CLINIC</h1>
            </div>

            <!-- Contact Information -->
            <div class="col-12 col-md-3  text-md-start mb-4 mb-md-0 footer-col">
                <div class="footer-contact">
                    <ul class="list-unstyled">
                        <p class="fw-bold">Contact Us</p>
                        <li>(+63) 9939851256</li>
                        <li>qcu@gmail.com</li>
                        <li>M2XM+XPV, Quirino Hwy, Novaliches, Quezon City, Metro Manila</li>
                    </ul>
                </div>
            </div>

            <!-- Menu Links -->
            <div class="col-12 col-md-3  text-md-start mb-4 mb-md-0 footer-col">
                <div class="footer-menu">
                    <ul class="list-unstyled">
                        <p class="fw-bold mt-3">Menu</p>
                        <li><a href="aboutUs.php" class="text-decoration-none">About Us</a></li>
                        <li><a href="testimonials.php" class="text-decoration-none">Testimonials</a></li>
                        <li><a href="contactUs.php" class="text-decoration-none">Contact Us</a></li>
                        <li><a href="bookAppointment.php" class="text-decoration-none">Book An Appointment</a></li>
                    </ul>
                </div>
            </div>

            <!-- Legal Information Links -->
            <div class="col-12 col-md-3  text-md-start footer-col">
                <div class="footer-legal">
                    <ul class="list-unstyled">
                        <p class="fw-bold mt-4">Legal Information</p>
                        <li><a href="privacy.php" class="text-decoration-none">Privacy Policy</a></li>
                        <li><a href="copyright.php" class="text-decoration-none">Copyright Policy</a></li>
                        <li><a href="terms.php" class="text-decoration-none">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
