<!-- Success/Error Modal -->
<div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header-img-container">
                    <img src="../images/success-img.png" alt="success" width="100px" height="100px"/>
                    </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="statusMessage" class="text-center">This is the status message.</p>
            </div>
        </div>
    </div>
</div>
