<div class="our-vision-main-container">
  <div
    class="our-vision-container wow animate__fadeIn animate__animated"
    data-wow-delay="0.1s"
  >
    <h1 class="our-vision-h1">OUR VISION</h1>
    <p class="our-vision-paragraph">
      To improve the quality of life of our patients through clear vision.
    </p>
  </div>

  <div class="our-vision-img-container">
    <img src="../images/our-vision-1.png" class="wow animate__fadeInLeft animate__animated"
    data-wow-delay="0.1s"
  />
    <img src="../images/our-vision-2.png" class="wow animate__fadeInRight animate__animated"
    data-wow-delay="0.1s"
  />
  </div>
</div>
