<!-- Success Modal -->
<div class="modal fade" id="successModal1" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header-img-container">
                    <img src="../images/success-img.png" alt="success" width="100px" height="100px"/>
                    </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                Testimonial updated successfully!
            </div>
        </div>
    </div>
</div>
