<div class="vision-to-action-main-container">
  <div
    class="vision-to-action-img-container wow animate__fadeInLeft animate__animated"
    data-wow-delay="0.1s"
  >
    <img src="../images/vision-to-action.png" />
  </div>

  <div
    class="vision-to-action-container wow animate__fadeInRight animate__animated"
    data-wow-delay="0.1s"
  >
    <h4 class="vision-to-action-h4">FROM VISION TO ACTION</h4>
    <h1 class="vision-to-action-h1">A Tradition of Trusted Eye Care</h1>
    <p class="vision-to-action-paragraph">
      Wilerich OPT. Clinic has been providing eye care services since [Year].
      Founded by [Founder's Name],a passionate optometrist, our clinic has been
      dedicated to providing exceptional eye care services to the community.
      With a commitment to innovation and patient satisfaction, we have grown
      into a trusted name in the field of ophthalmology. Our journey is a
      testament to our dedication to helping people see the world clearly.
    </p>
  </div>
</div>
