:root {
  --blue-50: #e8f1fb;
  --blue-100: #b8d5f1;
  --blue-200: #95c0ea;
  --blue-300: #65a3e1;
  --blue-400: #4791db;
  --blue-500: #1976d2;
  --blue-600: #176bbf;
  --blue-700: #125495;
  --blue-800: #0e4174;
  --blue-900: #0b3258;
  --blue-l-50: #eaf8fe;
  --blue-l-100: #bde8fc;
  --blue-l-200: #9dddfb;
  --blue-l-300: #70cef9;
  --blue-l-400: #54c5f8;
  --blue-l-500: #29b6f6;
  --blue-l-600: #25a6e0;
  --blue-l-700: #1d81af;
  --blue-l-800: #176487;
  --blue-l-900: #114c67;
  --grey-50: #efefef;
  --grey-100: #cecece;
  --grey-200: #b6b6b6;
  --grey-300: #959595;
  --grey-400: #818181;
  --grey-500: #616161;
  --grey-600: #585858;
  --grey-700: #454545;
  --grey-800: #353535;
  --grey-900: #292929;
  --black: #030303;
  --white: #fff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

.login-body {
  width: 100%;
  height: 100vh;
  background: url(../images/hero-bg.png);
  padding: 50px;
}

.login-logo-container {
  display: flex;
  margin: 60px auto;
  width: 50%;
  height: 10%;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-family: "Poly", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 32px;
}

.login-form {
  max-width: 480px !important;
  height: 60%;
  margin: auto;
  background-color: var(--white);
  padding: 45px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

.login-form label {
  font-weight: 700;
  height: 40px;
}
.login-form p {
  text-align: center;
  margin-top: 20px;
}
.login-form p a {
  font-size: 20px;
  text-decoration: none;
  color: var(--blue-500);
}
.sign-in-label {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 40px;
}

.login-input-username {
  height: 50px;
  background-color: var(--grey-100);
  border: 0;
  border-radius: 4px;
  padding: 10px;
}
.login-input-username::placeholder {
  color: var(--grey-400);
}
.password-container {
  height: 48px;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 40px;
}
.login-label-password {
  margin-top: 35px;
  font-size: 20px;
}
.login-label {
  font-size: 20px;
}
.password-container input {
  border-radius: 4px;
  height: 100%;
  width: 100%;
  border: 0;
  background-color: var(--grey-100);
  padding: 10px;
}
.password-container input::placeholder {
  color: var(--grey-400);
}
.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.login-button {
  padding: 10px;
  background-color: var(--blue-500);
  border: 0;
  border-radius: 4px;
  font-size: 20px;
  color: var(--blue-50);
}
.login-button:hover {
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 400px;
  background-color: var(--black);
  color: var(--white);
}
.footer a {
  color: var(--white);
  text-decoration: none;
}
.footer li {
  list-style: none;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100%;
}

.footer-logo {
  width: 150px;
}
.footer-logo img {
  width: 100%;
  height: 100%;
}

.footer-contact,
.footer-menu,
.footer-legal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 200px;
  width: 200px;
}

.footer-contact ul,
.footer-menu ul,
.footer-legal ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-contact p,
.footer-menu p,
.footer-legal p {
  font-weight: 600;
}

/*header*/
.main-header{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0, 0.5);

}
.navbar-toggler{
  background-color: var(--white) !important;
  
}
.search-span{
  color: var(--white);
  letter-spacing: 5px;
}
@media (max-width: 990px){
  #navbarContent{
    position: absolute;
    right: 0;
    top: 100px;
    background-color: var(--black);
    z-index: 10;
    padding: 20px 0 20px 0;
    border-radius: 10px;
}
  .navbar-nav{
    align-items: center;
  }
  .right-side-nav{
    flex-direction: column;
  }
  .white-vertical-lines{
    display: none;
  }
}
@media (min-width: 991px){
  .search-span{
    display: none;
  }
}
/* Dropdown fade-in and slide-down animation */
.dropdown-menu {
  display: none;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Show dropdown menu */
.dropdown.show .dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);

 
}
.color-white{
  color: var(--white) !important;
}
.navbar-nav{
  margin-left: auto;
  color: var(--white);
  gap: 20px;
}
.navbar-brand{
  margin-left: 5%;
}
.white-vertical-lines{
  width: 1px;
  height: 35px;
  background-color: var(--white);
}
.right-side-nav{
  margin-right: 5%;
}
.navbar .dropdown-toggle::after{
  color: white;
}
.nav-link{
  letter-spacing: 3px;
}
.book-an-appointment-btn{
  border: var(--white) 2px solid !important;
  border-radius: 20px !important;
}
.button {
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid white;
  border-radius: 1000px;
  padding: 10px 20px;
  margin: 40px;
  box-shadow: 0 2px 5px 0 rgba(3,6,26,0.15);
  transition: .5s all ease-in-out;
  &:hover {
    cursor: pointer;
    background: white;
    color: #1F4141;
    animation: none;

  }
}

.button-pulse {
  animation: pulse 2s infinite 1s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0 0 white;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 18px rgba(255, 255, 255, 0); 
  }
}
/*dashboard*/
.dashboard-body{
  height: 100vh;
  width: 100%;
}

.sections{
  width: 100%;
  height: 100lvh;
}
#firstSection{
  padding: 20px;
  background-image: url(../images/hero-bg.png);
}

.hero-container{
 width: 43% !important;
 margin-top: 14% !important;
 margin-left: 10% !important;
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.hero-h1{
  color: var(--white);
  font-size: 60px;
}
.hero-paragraph{
  color: var(--white);
  font-size: 25px;
}
.hero-btn{
  width: 210px;
  background-color: var(--white);
  color: var(--blue-500);
  padding: 15px;
  border-radius: 25px;
  border: 0;
  font-size: 23px;
}

/*services*/
.services-container{
  background-color: var(--white);
  box-shadow: 3px 3px 10px var(--black);
  border-radius: 10px;
  position: relative;
  width: 100%;
  margin-top: 4%;

}
.services-row{
  padding: 75px;
  height: auto;
  width: 100% !important;
}
.services{
  height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25% !important;
  text-align: center;
  gap: 20px;
  min-width: 250px;
}
.services div{
  display: flex;
  align-items: center;
  height: 100px;
}
.services-h4{
  font-size: 20px;
}
@media (max-width: 990px){
  .services-container{
   margin-top: 20%;
  }
  .hero-container{
    display: none;
  }

}

#secondSection{
  background-image: url(../images/2ndSection.png);
  z-index: -11;
}