:root {
  --blue-50: #e8f1fb;
  --blue-100: #b8d5f1;
  --blue-200: #95c0ea;
  --blue-300: #65a3e1;
  --blue-400: #4791db;
  --blue-500: #1976d2;
  --blue-600: #176bbf;
  --blue-700: #125495;
  --blue-800: #0e4174;
  --blue-900: #0b3258;
  --blue-l-50: #eaf8fe;
  --blue-l-100: #bde8fc;
  --blue-l-200: #9dddfb;
  --blue-l-300: #70cef9;
  --blue-l-400: #54c5f8;
  --blue-l-500: #29b6f6;
  --blue-l-600: #25a6e0;
  --blue-l-700: #1d81af;
  --blue-l-800: #176487;
  --blue-l-900: #114c67;
  --grey-50: #efefef;
  --grey-100: #cecece;
  --grey-200: #b6b6b6;
  --grey-300: #959595;
  --grey-400: #818181;
  --grey-500: #616161;
  --grey-600: #585858;
  --grey-700: #454545;
  --grey-800: #353535;
  --grey-900: #292929;
  --black: #030303;
  --white: #fff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}


.footer {
  width: 100%;
  height: auto !important;
  background-color: var(--grey-900);
  color: var(--white);

}
.footer-col{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  text-align: center !important;
  padding: 0 5% 0 5% !important;
}
.footer-row{
  padding: 7% 0 7% 0!important;
}

.footer a {
  color: var(--white);
  text-decoration: none;
}
.footer li {
  list-style: none;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100%;
}

.footer-logo {
  width: 200px;
}
.footer-logo img {
  width: 100%;
  height: 100%;
}

.footer-contact,
.footer-menu,
.footer-legal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 200px;
  width: 200px;
}

.footer-contact ul,
.footer-menu ul,
.footer-legal ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-contact p,
.footer-menu p,
.footer-legal p {
  font-weight: 600;
}

/*header*/
.button {
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 1px;
  border: 2px solid white;
  border-radius: 1000px;
  padding: 10px 20px;
  margin: 40px;
  box-shadow: 0 2px 5px 0 rgba(3,6,26,0.15);
  transition: .5s all ease-in-out;
  &:hover {
    cursor: pointer;
    background: white;
    color: #1F4141;
    animation: none;

  }
}

.button-pulse {
  animation: pulse 2s infinite 1s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0 0 white;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 18px rgba(255, 255, 255, 0); 
  }
}
.main-header{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0, 0.5);
  z-index: 99;
}
.navbar-toggler{
  background-color: var(--white) !important;
  
}
.search-span{
  color: var(--white);
  letter-spacing: 5px;
}

@media (max-width: 990px){
  #navbarContent{
    position: absolute;
    right: 0;
    top: 100px;
    background-color: var(--black);
    z-index: 10;
    padding: 20px 0 20px 0;
    border-radius: 10px;
}
  .navbar-nav{
    align-items: center;
  }
  .right-side-nav{
    flex-direction: column;
  }
  .white-vertical-lines{
    display: none;
  }
  .main-header.scrolled #navbarContent{
    background-color: var(--white) !important;
    border: 2px solid var(--black)
  }
}
@media (min-width: 991px){
  .search-span{
    display: none;
  }
}
.book-an-appointment-btn:hover{
  background-color: var(--white) !important;
  color: var(--black) !important;
  fill: var(--black) !important;
}
.book-an-appointment-btn:hover .icon{ 
  color: var(--black) !important;
  fill: var(--black) !important;
}
.logo-span{
  color: var(--white);
}
.color-white{
  color: var(--white) !important;
}
.color-white:hover{
  color: var(--blue-500) !important;
}
/* Scrolled Header Color */
.main-header.scrolled {
  background-color: var(--white) !important; /* Color when scrolled */
}
.icon{
  fill: var(--white)
}
.icon:hover{
  fill: var(--blue-500);
}
.main-header.scrolled .icon{
  fill: var(--black) !important; /* Color when scrolled */
}
.main-header.scrolled .icon:hover{
  fill: var(--blue-500) !important;
}
.main-header.scrolled span{
  color: var(--black);
}
.main-header.scrolled .button{
  color: var(--black) !important;
  border: 2px solid var(--black) !important;
}
.main-header.scrolled .button-pulse{
  box-shadow: 0 0 0 0 var(--black)
}
/* Color of links when header is scrolled */
.main-header.scrolled .color-white {
  color: var(--black) !important;
  background-color: var(--white) !important;
  
}
.main-header.scrolled .color-white:hover{
  color: var(--blue-500) !important; 
}
.main-header.scrolled .white-vertical-lines{
  background-color: var(--black) !important;
}
.main-header.scrolled .go-up-link{
  display: block;
}
.go-up-link{
  position: fixed;
  bottom: 40%;
  right: 5%;
  z-index: 20;
  display: none;
  opacity: 0.5;
}
.go-up-link:hover{
  opacity: 1;
}
/* Dropdown fade-in and slide-down animation */
.dropdown-menu {
  display: none;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Show dropdown menu */
.dropdown.show .dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);

 
}

.navbar-nav{
  margin-left: auto;
  color: var(--white);
  gap: 20px;
}
.navbar-brand{
  margin-left: 5%;
}
.white-vertical-lines{
  width: 1px;
  height: 35px;
  background-color: var(--white);
}
.right-side-nav{
  margin-right: 5%;
}
.navbar .dropdown-toggle::after{
  color: white;
}
.nav-link{
  letter-spacing: 3px;
}
.book-an-appointment-btn{
  border: var(--white) 2px solid !important;
  border-radius: 7px !important;
  color: var(--white) !important;
  display: flex !important;
  gap: 5px !important;
  align-items: center !important;
}
/*dashboard*/
.dashboard-body{
  height: 100vh;
  width: 100%;
}

.sections{
  width: 100%;
  height: 100lvh;
}
@keyframes slideBackground {
  0%, 20% {
    background-image: url(../images/hero-bg.png);
  }
  25%, 45% {
    background-image: url(../images/hero-bg2.png);
  }
  50%, 70% {
    background-image: url(../images/hero-bg3.png);
  }
  75%, 95% {
    background-image: url(../images/hero-bg4.png);
  }
  100% {
    background-image: url(../images/hero-bg.png); /* Loop back to the first */
  }
}


#firstSection {
  position: relative;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: slideBackground 25s infinite;
  transition: background-image 15s ease-in-out;
}

#firstSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%; /* Adjust width to control how far the dark area extends */
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  z-index: 1;
}

#firstSection * {
  position: relative; /* Ensures content appears above the overlay */
  z-index: 2;
}



.hero-container{
 width: 43% !important;
 margin-top: 15% !important;
 margin-left: 5% !important;
 min-width: 500px;
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.hero-h1{
  color: var(--white);
  font-size: 3.5rem;
}
.hero-paragraph{
  color: var(--white);
  font-size: 1.6rem;
  
}
.hero-btn{
  width: 210px;
  background-color: var(--white);
  color: var(--blue-500);
  padding: 15px;
  border-radius: 25px;
  border: 0;
  font-size: 1.5rem;
 text-align: center;
 text-decoration: none;

}

/*services*/
.services-container{
  background-color: var(--white);
  box-shadow: 3px 3px 10px var(--black);
  border-radius: 10px;
  top: -200px;
  width: 100%;
  max-width: 90% !important;
  z-index: 10;
  position: relative;
}
.services-row{
  padding: 75px;
  height: auto;
  width: 100% !important;
  margin: 0 !important;
}
.services{
  height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25% !important;
  text-align: center;
  gap: 20px;
  min-width: 250px;
}
.services div{
  display: flex;
  align-items: center;
  height: 100px;
}
.services-h4{
  font-size: 1.4rem;
}
@media (max-width: 990px){
  .services-container{
    margin: 0;
    max-width: 100% !important;
  }
  .hero-container{
   width: 70% !important;
  }

}
.services-toggle-btn{
  width: 100%;
  font-weight: bold !important;
  font-size: 1.5rem !important;
  padding: 20% 0 20% 0 !important;
}
#secondSection{
  height: auto;
}
/*vision-mission*/
.vision-mission-main-container{
  display: flex;
}
.vision-mission-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.vision-mission-h4{
  color: var(--blue-500);
  font-size: 1.9rem;
}
.vision-mission-h1{
  font-size: 2rem;
}
.vision-mission-paragraph{
  font-size: 1.5rem;
  max-width: 80%;
}
.vision-mission-btn{
  width: 210px;
  height: 55px;
  background-color: var(--blue-500) !important;
  color: var(--blue-50) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-decoration: none;
}
@media (max-width: 990px){
  .vision-mission-img-container img{
    display: none;
  }
  .vision-mission-container{
    max-width: 100% !important;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.landing-frames-container{
  margin-top: 5%;
  max-width: 90% !important;
}

.landing-frames-img-container{
  padding: 0 !important;
}
.landing-frames-img-container img{
  height: 100%;
}
.landing-frames-right-side-container{
  padding: 5% 2% 5% 5% !important;
  background-color: var(--grey-900);
  margin: 0 !important;
}
.landing-frames-h1{
  color: var(--white);
  font-size: 1.9rem;
}
.landing-frames-paragraph{
  color: var(--white);
  font-size: 1.3rem;
  max-width: 90%;
  margin-top: 5%;
}
.landing-frames-btn{
  margin-top: 5%;
  width: 150px;
  height: 55px;
  background-color: var(--blue-500) !important;
  color: var(--blue-50) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-decoration: none;
}

@media (max-width: 990px){
  .landing-frames-img-container{
    display: none;
  }
  .landing-frames-right-side-container{
    text-align: center;
  }
}
.our-doctors-container{
  margin-top: 5%;
}

.how-it-works-container{
  background-color: var(--blue-50);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100% !important;
  margin-top: 5%;
  padding: 5% 20% 5% 20%;
  text-align: center;
}

.how-it-works-step{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 250px;
  width: 250px  !important;
  height: 50%;
}
.how-it-works-h1{
  font-size: 3rem;
  font-weight: bold;
}
.how-it-works-numbers{
  font-size: 8rem;
  font-weight: bold;
    background: linear-gradient(to bottom, var(--black), var(--blue-500)); /* Top to bottom gradient colors */
    -webkit-background-clip: text; /* Makes the gradient apply only to the text */
    -webkit-text-fill-color: transparent; /* Makes the text itself transparent */
    text-align: center; 
}
.how-it-works-h4{
  font-size: 1.5rem;
  font-weight: bold;
}
.how-it-works-paragraph{
  font-size: 1.5rem;
}
.how-it-works-btn{
  background-color: var(--blue-500) !important;
  color: var(--blue-50) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 30px 10px 30px !important;
  width: 250px;
  margin: 0 auto;
}

.how-it-works-toggle-btn{
  width: 100%;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  padding: 20% 0 20% 0 !important;
}
@media (max-width: 990px){
  .how-it-works-h1{
    display: none;
  }
}
#thirdSection{
  height: auto;
  padding: 8% 0 8% 0;
}
/*landing-testimonials*/
.landing-testimonial-container{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding: 10% 5% 10% 5%;
  gap: 20px !important;
  margin: 2%;
}
.landing-testimonial-h4{
  font-size: 1.2rem;
  color: var(--grey-300);
}
.landing-testimonial-h1{
  font-size: 2.7rem;
  font-weight: bold;
}

.testimonial-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 4px var(--black);
  height: 300px; 
  width: 3px;
  min-width: 500px !important;
  max-width: 500px !important;
  max-width: 15% 1% 1% 1%;
  padding: 2%;
  padding-left: 4%;
  border-radius: 6px;
  border: 0;
  background-color: var(--blue-50);
}
.testimonial-card-paragraph{
  font-size: 0.8rem;
  max-width: 90%;
  min-height: 73px;
  margin-top: 8%;
}
.landing-testimonial-row{
  max-width: 100% !important;
  width: 100% !important;
  margin-top: 10% !important;
  justify-content: center;
}
.blue-card{
 background-color: var(--blue-500);
 color: var(--blue-50);
margin: -2%;
 z-index: 10;
 position: relative;
 top: -100px;
}
.landing-testimonial-picture-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: -50px;
}
.landing-testimonial-btn{
  width: 200px;
  text-align: center;
  border: 2px solid var(--blue-500);
  padding: 10px 0 10px 0;
  margin-top: 7%;
  border-radius: 4px;
  font-size: 1.1rem;
  color: var(--blue-500);
  text-decoration: none;
}
.blue-card-p{
  color: var(--black);
}
@media(max-width: 1200px){
  .blue-card{
    margin: 0%;
    position: unset;
  }
  .landing-testimonial-row{
    gap: 40px !important;
  }
}

